<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/500.css" />
    <title>ERROR!!!!!!</title>
</head>
<body>
    <div class="content">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h1>Oops!</h1>
                    <h2>500 - Something is wrong</h2>
                </div>
                <a href="/">Go TO Homepage</a>
            </div>
        </div>
    </div>
</body>
</html>